<html>
<head>
  <title>บทเพลงพระราชนิพนธ์</title>
</head>
<div align="right">
<BR/>
<a href="home.html.erb">home</a>
<a href="kingsong2.html.erb">kingsong2</a>
<a href="kingsong3.html.erb">kingsong3</a>
</div>
<center>
  <h1>เพลงพระราชนิพนธ์ศุกร์สัญลักษณ์</h1>

<FONT >ทำนอง: พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช<br>
คำร้อง: หม่อมราชวงศ์เสนีย์ ปราโมช<br></FONT>
<br>
<h5>ลูกคู่<h5><br>

ซี วิง ลาย คราม ต้องไม่แสดง รุ่มร่าม ซี วิง ลาย คราม ต้องไม่แสดง รุ่มร่าม<br>
หนึ่ง สอง สาม สี่ อ้าว ไม่สี หนึ่ง สอง สาม สี่ อ้าว ไม่เป่า<br>
ซี วิง ลาย คราม ชู่ ชู่ ชู่ ชู่<br>

<h5>เนื้อร้อง<h5><br>

ดีด ก็วันนี้ สี ก็วันนี้ ตี ก็วันนี้ ลายคราม<br>
เป่า ก็วันนี้ เมา ก็วันนี้ เมา แต่ดนตรี ลายคราม<br>
สุข ก็วันนี้ สนุก ก็วันนี้ ศุกร์ สิ้นทุกข์ ลายคราม<br>

อิ่ม ก็วันนี้ เมื่อย ก็วันนี้ ง่วง ก็วันนี้ ลายคราม<br>
นิ้วพัง ก็วันนี้ ปากเจ่อ ก็วันนี้ เจ่อ เพราะดนตรี ลายคราม<br>
สุข ก็วันนี้ สนุก ก็วันนี้ ศุกร์ สิ้นทุกข์ ลายคราม<br>

โด ก็วันนี้ เร ก็วันนี้ มี ก็วันนี้ ลายคราม<br>
ฟา ก็วันนี้ กวา ก็วันนี้ กวาเพราะดนตรี ลายคราม<br>
สุข ก็วันนี้ สนุก ก็วันนี้ ศุกร์ สิ้นทุกข์ ลายคราม<br>

<br>
<br>

</center> 


</html>