<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>เพลงศุกร์สัญลักษณ์</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/prettyPhoto.css" />
<link rel="stylesheet" href="css/flexslider.css" />
<link rel="stylesheet" href="css/custom-styles.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- JS
================================================== -->
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.custom.js"></script>
<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });
    
});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });  
});

</script>
	
</head>
<body style="background-color: pink">
<nav class="navbar navbar-inverse">
  
    <div class="collapse navbar-collapse" id="myNavbar">
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home">home</a></li>
      <li><a href="kingsong1">kingsong1</a></li>
      <li><a>kingsong2</a></li>
      <li><a href="kingsong3">kingsong3</a></li>
      </ul>
    </div>
</nav>

<center>
<div class="row headline">
    <div class="span8">
    
	<iframe width="560" height="315" src="https://www.youtube.com/embed/XEV5oCs1Evg" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="span4">
	<h1>เพลงพระราชนิพนธ์ศุกร์สัญลักษณ์</h1>
	
	<FONT>ทำนอง: พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช<br>
คำร้อง: หม่อมราชวงศ์เสนีย์ ปราโมช<br></FONT>
<br>
<h5>ลูกคู่<h5><br>

ซี วิง ลาย คราม ต้องไม่แสดง รุ่มร่าม ซี วิง ลาย คราม ต้องไม่แสดง รุ่มร่าม<br>
หนึ่ง สอง สาม สี่ อ้าว ไม่สี หนึ่ง สอง สาม สี่ อ้าว ไม่เป่า<br>
ซี วิง ลาย คราม ชู่ ชู่ ชู่ ชู่<br>

<h5>เนื้อร้อง<h5><br>

ดีด ก็วันนี้ สี ก็วันนี้ ตี ก็วันนี้ ลายคราม<br>
เป่า ก็วันนี้ เมา ก็วันนี้ เมา แต่ดนตรี ลายคราม<br>
สุข ก็วันนี้ สนุก ก็วันนี้ ศุกร์ สิ้นทุกข์ ลายคราม<br>

อิ่ม ก็วันนี้ เมื่อย ก็วันนี้ ง่วง ก็วันนี้ ลายคราม<br>
นิ้วพัง ก็วันนี้ ปากเจ่อ ก็วันนี้ เจ่อ เพราะดนตรี ลายคราม<br>
สุข ก็วันนี้ สนุก ก็วันนี้ ศุกร์ สิ้นทุกข์ ลายคราม<br>

โด ก็วันนี้ เร ก็วันนี้ มี ก็วันนี้ ลายคราม<br>
ฟา ก็วันนี้ กวา ก็วันนี้ กวาเพราะดนตรี ลายคราม<br>
สุข ก็วันนี้ สนุก ก็วันนี้ ศุกร์ สิ้นทุกข์ ลายคราม<br>

<br>
<br>
</center>	
</div>
</div>
</body>
</html>