<html>
<head>
  <title>บทเพลงพระราชนิพนธ์</title>
</head>
<div align="right">
<BR/>
<a href="kingsong2.html.erb">kingsong2</a>
<a href="kingsong3.html.erb">kingsong3</a>
</div>
<center>
  <h1>เพลงพระราชนิพนธ์ยามเย็น</h1>

<FONT >ทำนอง พระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช<br>
คำร้อง พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ<br></FONT>
<br>
แดดรอนๆ เมื่อทินกรจะลับเหลี่ยมเมฆา<br>
ทอแสงเรืองอร่ามช่างงามตา <br>
ในนภาสลับจับอัมพร<br>
<br>
แดดรอนๆ เมื่อทินกรจะลาโลกไปไกล<br>
ยามนี้จำต้องพรากจากดวงใจ <br>
ไกลแสนไกลสุดห่วงยอดดวงตา<br>
<br>
แต่ก่อนเคยคลอเคลียกัน ทุกวันคืนรื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยนวิญญาณ์ <br>
เหมือนดังนภาไร้ทินกร<br>
<br>
แดดรอนๆ เมื่อทินกรจะลาโลกไปไกล<br>
ความรักเราคงอยู่คู่กันไป <br>
ในหัวใจคงอยู่คู่เชยชม<br>
<br>
โอ้ยามเย็น จวบยามนี้เป็นเวลาสุดอาวรณ์<br>
ยามไร้ความสว่างห่างทินกร<br> 
ยามรักจำจะจรจากกันไป<br>
<br>
<br>

</center> 


</html>